// Bring in bootstrap
// --------------------------------------------------
@import "./js/vendor/bootstrap/less/bootstrap.less";




.btn{
  font-family: "Open Sans", "Helvetica Neue", "Helvetica", Helvetica, Arial, sans-serif;
}

.btn-mod.btn-border {
  font-family: "Open Sans", "Helvetica Neue", "Helvetica", Helvetica, Arial, sans-serif;
}



.btn-outer {
  display: inline-block;
  border: 1px solid @gold;
  text-align: center;
  color:@gold;
  width:120px;
  font-family: "Open Sans", "Helvetica Neue", "Helvetica", Helvetica, Arial, sans-serif;
  font-size: 10px;
  font-weight: 600;
  font-style: normal;
  font-stretch: normal;
  letter-spacing: 4px;



}

.btn-outer:active {

  color:white;


}



.btn-outer .btn-inner {
  padding: 5px 5px;
  background:none;
  margin: 5px;
  color: @gold;
}



.btn-outer .btn-inner:active {
  background: @gold;
  color: @darkGray;

  -webkit-transition: all 1s ease-in-out;
  -moz-transition: all 1s ease-in-out;
  -o-transition: all 1s ease-in-out;
  transition: all 1s ease-in-out;

}



//
//.btn-outer .btn-inner:focus {
//  background: @gold;
//  color: @darkGray;
//
//}

//
.btn-outer .btn-inner:hover {
  background: @gold;
  color: @darkGray;

  -webkit-transition: all 1s ease-in-out;
  -moz-transition: all 1s ease-in-out;
  -o-transition: all 1s ease-in-out;
  transition: all 1s ease-in-out;


}

