
@import "./js/vendor/bootstrap/less/bootstrap.less";

// White Outline
.navbar-nav {
  > .active {
    // border-bottom: 4px solid transparent;
    // border-color: #fff;
    //border-radius: @border-radius-base;
  }
}


.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a:hover,
.navbar-default .navbar-nav > .active > a:focus {
  background: transparent;
  color: @gold;
  border-bottom: 2px solid @white;
  height: 42px;
}

.navbar-nav > li {
  padding-left: 10px;
  padding-right: 10px;
  height:100%;

}


.navbar-nav li:last-child  {
  padding-left: 5px;
  padding-right: 5px;
  border: solid 2px grey;


}



.navbar-nav.navbar-right {

  background : none;
  height : 100%;

}

.navbar-nav > li > a {

  font-family: @font-family-open-sans;
  font-size: 10px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  letter-spacing: 4px;
  color: #ffffff;
  padding: 10px 10px;
}

@media (min-width : 1224px) {

  .navbar-nav > li > a {
    font-size: 14px;
    letter-spacing: 5px;

  }
}



@media (max-width: 480px) {
  .navbar-collapse {
    background: @gold;

  }
}

//only portrait Ipad
@media only screen
and (min-device-width : 768px)
and (max-device-width : 1024px)
and (orientation : portrait) {

  .navbar-nav > li > a {
    padding-right: 0px;
  }
}





//only portrait Ipad
@media only screen
and (min-device-width : 768px)
and (max-device-width : 1024px)
and (orientation : portrait) {

  .navbar-nav.navbar-right:last-child {
    margin-right: 5px;
  }
}



.navbar-nav > li > a:hover,
.navbar-nav > li > a:focus {
  background-color: transparent;
  border-bottom-color: rgba(255,255,255,.50);
}
.navbar-nav > .active > a,
.navbar-nav > .active > a:hover,
.navbar-nav > .active > a:focus {
  color: #fff;
  border-bottom-color: #fff;
}




.navbar {
  font-family: "Lato", sans-serif;
  font-size: 16px;
  line-height: 24px;
}

.navbar-default{

}
// remove the border
.navbar-fixed-top {
  border-width: 0px;
}

.navbar-collapse {
  max-height: 540px;
  overflow-x: visible;
  padding-right: 69px;
  padding-left: 46px;
  border-top: 1px solid transparent;
  //box-shadow: inset 0 1px 0 rgba(255,255,255,.1);
  background-color: rgba(0,0,0,1);
  width: 100%;
  -webkit-overflow-scrolling: touch;
}

@media (max-width: 480px) {
  .navbar-collapse {
    margin: 0;
    padding-left: 0px;
    background: @gold;
    width: 100%;
  }

  .navbar-brand {
    padding: 20px 0 20px 15px !important;
  }

  .navbar-nav.navbar-right:last-child {

    margin-top:70px;
  }

  .navbar-nav li:last-child {

    border: none;
  }
}


.navbar-toggle {
  border: 2px solid @gold;
  margin-right: 30px;
  margin-top: 30px

}

.navbar-toggle .icon-bar {
  display: block;
  width: 22px;
  height: 2px;
  border-radius: 1px;
  background: @gold;
}

// Tweak the brand
.navbar-brand {
  font-size: 20px;
  margin-top: -1px;
  letter-spacing: 1px;
  font-weight: bolder;
  // Prevent Font Awesome icon from increasing height of navbar
  > .fa {
    float: left;
    margin-top: 1px;
    margin-right: 5px;
  }
}

.navbar-brand {
  float: left;
  padding: 20px 0 20px 0;
  font-size: 18px;

}


@media (max-width: 480px) {
  .navbar-nav{
    margin: 0;
    background: @gold;
    width: 100%;
  }
}

.logo{

  text-align: center;
  width:175px;
}

@media (max-width: 720px) {
.logo {

  width:175px;
   }
}


@media (min-width : 1224px) {
  .logo {
    width:350px;
  }
}



//only portrait Ipad
@media only screen
and (min-device-width : 768px)
and (max-device-width : 1024px)
and (orientation : portrait) {

  .navbar-collapse{
    padding-right: 25px;
  }

  .navbar-nav > li > a {
    font-size: 6px;
    letter-spacing: 5px;
  }

  .logo {
    width:100px;
  }
}



  .navbar-nav > li > a {
    padding-top: 5px

  }

.navbar-nav > li > a :active {
  color: @gold;

}

.navbar-nav > li > a :hover {
  color: @gold;

}



.navbar-nav.navbar-right:last-child {

  margin-right: -25px;
}

.nav li a {
  color: white;
  line-height: 58px;
  font-weight: 300;
}



.nav li a:active {
  color: @gold;
}

.nav li a:hover {
  color: @gold;
}



//mobile
