

//Subscription Start
@import "./js/vendor/bootstrap/less/bootstrap.less";


subscription{
  overflow: hidden;
  //position: relative;
  background-color: @brand-primary;
  background-size: cover;
  padding-bottom: 100px;
  width: 100%;

  p {
    font-family: @font-family-source;
    width:80%;

    font-weight: lighter;
    text-align: center;
    //font-style: normal;
    //font-stretch: normal;
    letter-spacing: 0.3px;
    color: white;
  }
}//Subscription End

@media (max-width: 480px) {
  .subscription {
    padding-bottom: 0px;
  }
}
